
<div id="start-time-editor" class="d-none inplace-editor">
    <div class="d-flex inplace-editor-controls">
        <!-- Hour Spinner -->
        <input type="number" class="form-control hide-caret" style="width:70px;" min="1" max="12" 
            value="10" name="Hour" onkeydown="return false" />
        <!-- Minute Spinner -->
        <input type="number" class="form-control hide-caret" style="width:70px;" min="0" max="59"
            value="10" name="Minute" />
        <!-- AM/PM Dropdown -->
        <select class="form-select" style="width:80px;" name="AM-PM">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>
        <button type="button" class="btn btn-light border-secondary" name="Ok" 
            onclick="return setStartTime(event)">
                <i class="bi bi-check-lg"></i>
        </button>
        <button type="button" class="btn btn-light border-secondary" name="Cancel"
            onclick="return cancelStartTimeEditor(event)">
                <i class="bi bi-x-lg"></i>
        </button>
    </div>
</div>