
<div id="general-info" class="d-none">
    <p style="white-space: pre-line;">General Information</p>
    <div class="d-flex my-1 justify-content-end mt-3">
        <button type="button" class="btn btn-sm btn-light border mt-0 py-0 px-1 me-1" name="Ok" 
            onclick="return generalInfoOk(event)">
                <i class="bi bi-check-lg"></i>
        </button>
        <button type="button" class="btn btn-sm btn-light border mt-0 py-0 px-1 me-1" name="Cancel"
            onclick="return generalInfoCancel(event)">
                <i class="bi bi-x-lg"></i>
        </button>
    </div>
</div>
