<div class="timer-pallet col-12" id="timer-1" crono="1">
    <div class="border rounded p-3 d-flex">
        <div class="ms-2 pe-4 border-end sc-num">1</div>   
        <div class="px-4 border-end dotted-underline" name="start-time">10:10 AM</div>   
        <div class="px-4 border-end dotted-underline" name="timer-duration">00:15</div>   
        <div class="px-4 border-end" name="elapsed-time">00:00</div>   
        <div class="d-flex px-4" name="timer-description">
            <div>
                <button class="btn btn-light py-0 px-1 me-1" title="Edit">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
            <div>
                <div class="d-flex mb-2">
                    <p name="title" class="m-0 px-2 fw-bold">Welcome Guest</p>
                    <p name="speaker" class="m-0 px-2">John Doe</p>
                </div>
                <div>
                    <p name="note" class="m-0 px-2">This is a sample note.</p>
                </div>
            </div>
        </div>
        <div class="d-flex ms-auto px-4 pe-2 border-start align-items-start">
            <button class="btn btn-light border border-secondary mt-0 py-0 px-1 me-1" name="Start">
                <i class="bi bi-play"></i>
            </button>
            <button class="btn btn-light border border-secondary py-0 px-1 me-1" name="Pause">
                <i class="bi bi-pause"></i>
            </button>
            <button class="btn btn-light border border-secondary py-0 px-1" name="Delete">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</div>