<div class="timer-pallet col-12" id="timer-1" crono="1">
    <div class="border rounded p-3 d-flex" style="font-size: 0.95em;">
        <div class="ms-2 pe-4 border-end" name="sc-num">1</div>   
        <div class="px-4 border-end dotted-underline" name="start-time">10:10:10 AM</div>   
        <div class="px-4 border-end dotted-underline" name="timer-duration">00:15:00</div>   
        <div class="d-flex px-4" name="timer-description">
            <div>
                <button class="btn btn-light border py-0 px-1 me-1 fs-8" title="Edit">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
            <div>
                <div class="d-flex mb-2">
                    <p name="title" class="m-0 px-2 fw-bold fs-7">Title-1</p>
                    <p name="speaker" class="m-0 px-0 fs-7">Speaker-1</p>
                </div>
                <div>
                    <p name="note" class="m-0 px-2 fs-7">This is a sample note.</p>
                </div>
            </div>
        </div>
        <div class="d-flex ms-auto px-4 pe-2 border-start align-items-start">
            <button class="btn btn-light border mt-0 py-0 px-1 me-1" name="Start">
                <i class="bi bi-play"></i>
            </button>
            <button class="btn btn-light border py-0 px-1 me-1" name="Pause">
                <i class="bi bi-pause"></i>
            </button>
            <button name="delete" class="btn btn-light border py-0 px-1" name="Delete">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</div>