<div class="d-flex justify-content-center align-items-center mt-4 fs-7">
    <button id="goto-prev-timer" class="btn btn-light btn-sm p-0 px-1" title="View previous timer">
        <i class="bi bi-skip-start-fill"></i>
    </button>
    <div class="text-center mx-2">
        <p class="fw-bold m-0 p-0">Start Time</p>
        <p id="left-panel-start-time" class="m-0 p-0">10:10 AM</p>
    </div>
    <button id="goto-current-timer" class="btn btn-light btn-sm p-0 px-1" title="Goto current timer">
        <i class="bi bi-bullseye"></i>
    </button>
    <div class="text-center mx-2">
        <p class="fw-bold m-0 p-0">End Time</p>
        <p id="left-panel-end-time" class="m-0 p-0">10:25 AM</p>
    </div>
    <button id="goto-next-timer" class="btn btn-light btn-sm p-0 px-1" title="View next timer">
        <i class="bi bi-skip-end-fill"></i>
    </button>
</div>