<!-- Right Panel -->
<div class="col-md-2 right-panel p-3 border-start border-bottom">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>Messages</h5>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-light btn-sm border rounded fs-9 my-1 p-1 me-1 bi-record-circle">
                Focus
            </button>
            <button type="button" class="btn btn-light btn-sm border rounded fs-9 my-1 p-1 me-1 bi-lightning-charge">
                Flash
            </button>
        </div>
    </div>
    <div class="message-pallet mb-2 border p-2 rounded bs-gray-100" id="message-1">
        <textarea class="form-control mb-2 fs-7" rows="2" placeholder="Type your message..." style="resize: none;"></textarea>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-light btn-sm border rounded fs-9 my-1 p-1 me-1 bi-arrow-left-square">
                Show
            </button>
            <button type="button" class="btn btn-light btn-sm border rounded fs-9 my-1 p-1">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
    <div class="d-grid gap-2 mt-3">
        <button id="add-new-message" class="btn btn-light border bi bi-plus-circle mt-0 py-1 px-2 fw-bold"
            style="font-size: 0.75em;">
            &nbsp; Message
        </button>
    </div>
</div>